*{
    background-color: rgb(173, 185, 121);
  

    
}
 


.body,html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
  
}



.row {
    display: flex;
}
/*
.body{
    font-family: 'Russo One', sans-serif;
    
    
    font-style: 200;
    font-size: 0.5rem;
   }
   */
.intro{font-family: 'Russo One', sans-serif;
    font-size: 10px;

}
.intro-left{
    background: url(..img/1.jpg);
  
position: fixed;
left: 0;
width:33.3333% ;
height: 100%;

font-family: 'Russo One', sans-serif;
}
.blockquote{
font-size: 20px;
font-family: 'Roboto', sans-serif;


}





@media (max-width:768px) {
    .intro-left{
        height: 30vh;
        margin-left: 0;
        position: relative;
        width: 100%;
    }
    
}
.main{
    width: 10rem;
    height: 10rem;
    border-bottom: 50%;
    margin: 1rem;
}

.full-height{
    height: 100%;
}

.quotes{
    float: right;
}
.a{

    color: thistle;
    text-decoration: none;
}




























