img{
    margin-left: 10%;
    
}
.container{
    width: 100%;
    padding: 10px;
color: (ffffff);
float: right;

}
.jumbotron{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    float: inline-end;
    height: 100%;
    
}